/* --------------------------- General -------------------------------------- */

/* Body. */

body {
		font-family		: Tahoma,Helvetica, sans-serif;
		font-stretch: extra-condensed;
		font-weight: bold;
		color			: #333333;
		line-height		: 1.166;	
		margin			: 0px;
		padding			: 0px;	
		height: 100%;
		text-align:center;
		
}

/* Window. */

#window {
		margin: 0px auto;
		padding: 0px;
		width: 990px;
		/*border: 2px solid red;*/
}

/* Page title. */

#pageTitle {
		margin-top		: 5px;
		background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
		background-repeat:repeat-x;
		background-color:#FFFFFF;
		border-left:1px solid #a1a1a1;
		border-right:1px solid #a1a1a1;
		border-bottom:1px solid #a1a1a1;
		line-height: 24px;
		width: 97% center;
		text-align:center;
		color: #CD1821;
}

/* Logo. */

#logo {
		line-height: 100px;
		width: 97% center;
		margin-top:7px;
		margin-bottom:7px;
		background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
		background-color:#eeeeee;
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
		text-align:center;
}

/* Sidebar. */

#sidebar {
    width: 190px;
	float: left;
	height:456px;
	background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
}

#sidebarmenu{
	font-weight: bold;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}
/* Search Bar. */

#searchbar {
	/*border: 1px solid red;*/
	width: 790px;
	float: right;
	text-align:right;
	background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
	
}
input {
  border            : 1px solid #CCCCCC;
  background-color  : #FBFBFB;
  padding			: 2px;
  margin-top		: 2px;
  margin-bottom     : 2px;
  color			    : #666666;
}

textarea{
	border            : 1px solid #CCCCCC;
  	background-color  : #FBFBFB;
  	/*padding			: 2px;
  	margin-top		: 2px;
  	margin-bottom     : 2px;*/
  	color			    : #666666;
}
input[type="submit"]{
	line-height:normal !important;	/* NO FUNCIONA */  
 }

/* Content. */

#content {
	padding: 10px 10px 10px 10px;
	margin-top: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
	background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
	/*border: 1px solid red;*/
	width: 595px; 
	float: right;
	height: 400px;
	text-align:center;
}

p.section{
	color:	#CD1821;
	font-size: large;
}

p.welcome{
	color:	#CD1821;
	font-size: xx-large;
	margin-top: -10px;
}

p.welcome2{
	color: 	#2B5497;
	margin-top: -40px;
}
#most_voted {
	background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
	margin-top: 7px;
	width: 165px;
	float: right;
	height:420px;
	/*text-align:center;*/
}

div.previousNextLinks span.previousLink {
    float: left;
    text-align: left;
    width: 49.5%;
    
    
}

div.previousNextLinks span.nextLink {
    float: right;
    text-align: right;
    width: 49.5%;
}

/* Footer. */

#footer {
		height: 14px;
		width: 100% center;
		margin-top: 5px;
		padding-top: 5px;
		clear: both;
		font-size:10px;
		background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
		background-repeat:repeat-x;
		background-color:#FFFFFF;
		border-left:1px solid #a1a1a1;
		border-right:1px solid #a1a1a1;
		border-bottom:1px solid #a1a1a1;
		text-align: center;
		color:#a1a1a1;
}

/* LINKS MENU PRINCIPAL */
tr.info{
	color: #666666;
	font-weight: bold;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:left;
	text-indent:10px;
}

td.user{
	margin-top:5px;
	line-height:20px;
	text-align:center;
	background-image:url(http://elmas.cadena.tv/css/images/bg.jpg);
	background-repeat:no-repeat;
}

td.multimedia{
	line-height:20px;
	text-align:center;
	background-image:url(http://elmas.cadena.tv/css/images/bg.jpg);
	background-repeat:no-repeat;
}

td.comments{
	line-height:20px;
	text-align:center;
	background-image:url(http://elmas.cadena.tv/css/images/bg.jpg);
	background-repeat:no-repeat;
}


/* MOST VOTED */
td.top{
	padding-top: 7px;
	
	font-size: 14px;
	color: #CD1821;
	text-align:center;
	
}
td.top-title{
	line-height: 1;
	padding-top:3px;
	font-size: 10px;
	color: #2B5497;
	text-align:center;
}

td.top-owner{
	line-height: 1;
	font-size: 10px;
	color: #a1a1a1;
	padding: 0px;
	text-align:center;
}

/* sidebar menu */
a{
	text-decoration: none;
}

a.mainlevel {
  text-decoration	: none;
  margin-top        : 1px;
  padding-top       : 0px;
  font-size         : 12px;
  width             : 180px;
  text-indent       : 20px;
}
a.mainlevel:link {
  padding           : 0px 0px 0px 0px;
  font-size         : 12px;
  width             : 180px;
  text-indent       : 10px;
  font-weight       : bold;
}
a.mainlevel:link, a.mainlevel:visited {
  display           : block;
  font-size         : 12px;
  margin-left		: 4px;
  padding           : 0px 0px 2px 0px;
  color             : #2B5497;
  width             : 180px;
  text-align		: left;
  background-color  : #FBFBFB;
}
a.mainlevel:hover {
  width				: 100%;
  margin-left		: 0px;
  background-color  : #f0f0f0 ;  
  color             : #CD1821;
}


/* BUSQUEDA DE VIDEOS */
div.search{
	width: 100%;
	height: 315px;
	max-height: 315px
	min-height: 315px;
	
}

/*div.search-mini{
	width: 100%;
	height: 215px;
	max-height: 215px
	min-height: 215px;
	
}*/


td.snapshot{
vertical-align: baseline;
}

table.video-table td.video-comment{
	width:400px;
	height:45px;
	border: 1px solid #a1a1a1;
	padding-bottom: 3px;
}

td.video-title{
	border: 1px solid #a1a1a1;
}

td.video-user{
	border: 1px solid #a1a1a1;
}

td.video-info{
	font-size         : 12px;
	color           : #a1a1a1;
	vertical-align: middle;
}

/* MOSTRAR VIDEO */
table.showvideo{
	font-size: 12px;
	color: #a1a1a1;
}
table.showvideo tr.video-title{
	
}
	
table.showvideo tr.video-owner{
}
a:link, a:visited {
  color             : #a1a1a1;
  background-color  : #FBFBFB;
}
a:hover {
  background-color  : #f0f0f0 ;  
  color             : #CD1821;
}

/*****************************************************/
/* comentarios */
table.comments-mini{
	width: 100%;
	height: 175px;
}


table.comments{
	width: 100%;
	height: 315px;
}

td.user-comment{
	height: 60px;
	width: 550px;
	border: 1px solid #a1a1a1;
	font-size: 11px;
	text-align: left;
	color: #2B5497;
	text-align: left;
}

td.commentator-info{
	display: block;
	font-size: 10px;
	max-height: 12px;
	height: 12px;
	min-height: 12px;
	text-align: right;
	color: #a1a1a1;
}

.important{
	color: #CD1821;
}

.important2{
	color: #2B5497;
}

.username{
	color: #2B5497;
}

table{
	display: inline-table;
}

img{
	vertical-align: middle;
}

div.field {
    clear: both;
    padding-top: 1em;
    width: 100%;
}

div.field label {
    float: left;    
    text-align: right;
    font-weight: bold;
    width: 49.5%;
}

div.field span.entry {
    float: right;    
    text-align: left;
    width: 49.5%;
}

div.button {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

.today{
  display           : block;
  font-size         : 10px;
  color             : #2B5497;
  text-align		: right;
}