/* --------------------------- General -------------------------------------- */

/* Body. */

body {
		margin: 0px;
		padding: 0px 0px 0px 0px;
		line-height: 16px;
		height: 100%;
		text-align:center;
}

/* Window. */

#window {
		margin: 0px auto;
		padding: 0px;
		width: 990px;
		border: 2px solid red;
}

/* Page title. */

#pageTitle {
		margin: 7px;
		line-height: 13px;
		padding: 5px 5px 5px 5px;
		width: 97% center;
		border: 1px solid red;
		text-align:center;
}

/* Logo. */

#logo {
		margin: 7px;
		line-height: 70px;
		padding: 5px 5px 5px 5px;
		width: 97% center;
		border: 1px solid red;
		text-align:center;
}

/* Sidebar. */

#sidebar {
    width: 190px;
	float: left;
	margin: 0px 7px 7px 7px;
	padding: 10px;
	border: 1px solid red;
	height:425px;
}

/* Search Bar. */

#searchbar {
	border: 1px solid red;
	padding: 1px 5px 1px 5px;
	margin-right: 7px;
	margin-bottom: 7px;
	width: 745px;
	float: right;
	text-align:right;
	
}

/* Content. */

#content {
	border: 1px solid red;
	padding: 5px 5px 5px 5px;
	margin-right: 7px;
	margin-bottom: 7px;
	width: 745px;
	float: right;
	height:400px;
}

table td, th{
	border: 1px solid red;
	text-align: center;
	width:100%;
}

table.video-table{
	/* border: 5px solid black;*/
	width:84%;
	margin-left:8%;
	
}

table td.snapshot{
	height:120px;
	width:150px;
}

table td.video-info{
	height:120px;
	width:450px;
}


table td.video-title{
	border: 1px solid blue;
	width:70%;
}
table td.video-user{
	border: 1px solid yellow;
	width:30%;
}

table td.video-comment{
	border: 2px solid red;
}

table td.user-comment{
	text-align: left;
	width:750px;
}

table td.commentator-info{
	text-align: right;
}

div.previousNextLinks span.previousLink {
    float: left;
    text-align: left;
    width: 49.5%;
}

div.previousNextLinks span.nextLink {
    float: right;
    text-align: right;
    width: 49.5%;
}

/* Footer. */

#footer {
		height: 20px;
		width: 97% center;
		margin: 7px 7px 7px 7px;
		margin-top: 5px;
		padding-top: 5px;
		line-height: 13px;
		clear: both;
		border: 1px solid red;		
		text-align: center;
}