/* --------------------------- General -------------------------------------- */

/* Body. */

body {
		margin: 0px;
		padding: 0px 0px 0px 0px;
		line-height: 16px;
		height: 100%;
}

/* Window. */

#window {
		margin: 0px auto;
		padding: 0px;
		width: 990px;
		border: 2px solid red;
}

/* Page title. */

#pageTitle {
		margin: 7px;
		line-height: 13px;
		padding: 5px 5px 5px 5px;
		width: 97% center;
		border: 1px solid red;
		text-align:center;
}

/* Logo. */

#logo {
		margin: 7px;
		line-height: 70px;
		padding: 5px 5px 5px 5px;
		width: 97% center;
		border: 1px solid red;
		text-align:center;
}

/* Sidebar. */

#sidebar {
    width: 190px;
	float: left;
	margin: 0px 7px 7px 7px;
	padding: 10px;
	border: 1px solid red;
}

/* Search Bar. */

#searchbar {
	border: 1px solid red;
	padding: 5px 5px 5px 5px;
	margin-right: 7px;
	margin-bottom: 7px;
	width: 745px;
	float: right;
	text-align:right;
}

/* Content. */

#content {
	border: 1px solid red;
	padding: 5px 5px 5px 5px;
	margin-right: 7px;
	margin-bottom: 7px;
	width: 745px;
	float: right;
}

/* Footer. */

#footer {
		height: 20px;
		width: 97% center;
		margin: 7px 7px 7px 7px;
		margin-top: 5px;
		padding-top: 5px;
		line-height: 13px;
		clear: both;
		border: 1px solid red;		
		text-align: center;
}

