/* --------------------------- General -------------------------------------- */

/* Body. */

body {
		font-family		: Tahoma,Helvetica, sans-serif;
		font-stretch: extra-condensed;
		font-weight: bold;
		color			: #333333;
		line-height		: 1.166;	
		margin			: 0px;
		padding			: 0px;	
		height: 100%;
		text-align:center;
		
}

/* Window. */

#window {
		margin: 0px auto;
		padding: 0px;
		width: 990px;
		/*border: 2px solid red;*/
}

/* Page title. */

#pageTitle {
		margin-top		: 5px;
		background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
		background-repeat:repeat-x;
		background-color:#FFFFFF;
		border-left:1px solid #a1a1a1;
		border-right:1px solid #a1a1a1;
		border-bottom:1px solid #a1a1a1;
		line-height: 24px;
		width: 97% center;
		text-align:center;
		color: #CD1821;
}

/* Logo. */

#logo {
		line-height: 100px;
		width: 97% center;
		margin-top:7px;
		margin-bottom:7px;
		background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
		background-color:#eeeeee;
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
		text-align:center;
}

/* Sidebar. */

#sidebar {
    width: 190px;
	float: left;
	height:456px;
	background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
}

#sidebarmenu{
	font-weight: bold;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}
/* Search Bar. */

#searchbar {
	/*border: 1px solid red;*/
	width: 790px;
	float: right;
	text-align:right;
	background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
	
}
input {
  border            : 1px solid #CCCCCC;
  background-color  : #FBFBFB;
  padding			: 2px;
  margin-top		: 2px;
  margin-bottom     : 2px;
  color			    : #666666;
}
input[type="submit"]{
	line-height:normal !important;	/* NO FUNCIONA */  
 }

/* Content. */

#content {
	padding: 10px 10px 10px 10px;
	margin-top: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
	background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
	/*border: 1px solid red;*/
	width: 595px; 
	float: right;
	height: 400px;
	text-align:center;
}
p.welcome{
	color:	#CD1821;
	font-size: xx-large;
	margin-top: -10px;
}

p.welcome2{
	color: 	#2B5497;
	margin-top: -40px;
}
#most_voted {
	background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;
	margin-top: 7px;
	width: 165px;
	float: right;
	height:420px;
}

div.previousNextLinks span.previousLink {
    float: left;
    text-align: left;
    width: 49.5%;
}

div.previousNextLinks span.nextLink {
    float: right;
    text-align: right;
    width: 49.5%;
}

/* Footer. */

#footer {
		height: 14px;
		width: 100% center;
		margin-top: 5px;
		padding-top: 5px;
		clear: both;
		font-size:10px;
		background-image:url(http://elmas.cadena.tv/css/images/cell_top.jpg);
		background-repeat:repeat-x;
		background-color:#FFFFFF;
		border-left:1px solid #a1a1a1;
		border-right:1px solid #a1a1a1;
		border-bottom:1px solid #a1a1a1;
		text-align: center;
		color:#a1a1a1;
}

/* LINKS MENU PRINCIPAL */
tr.info{
	color: #666666;
	font-weight: bold;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:left;
	text-indent:10px;
}

td.user{
	margin-top:5px;
	line-height:20px;
	text-align:center;
	background-image:url(http://elmas.cadena.tv/css/images/bg.jpg);
	background-repeat:no-repeat;
}

td.multimedia{
	line-height:20px;
	text-align:center;
	background-image:url(http://elmas.cadena.tv/css/images/bg.jpg);
	background-repeat:no-repeat;
}

td.comments{
	line-height:20px;
	text-align:center;
	background-image:url(http://elmas.cadena.tv/css/images/bg.jpg);
	background-repeat:no-repeat;
}

td.top{
	padding-top: 7px;
	margin-top : 5px;
	padding-bottom: 7px;
	font-size: 14px;
	color: #CD1821;
	
}
td.video-title{
	line-height: 1;
	padding-top:5px;
	font-size: 10px;
	color: #2B5497;
}

td.video-owner{
	line-height: 1;
	font-size: 10px;
	color: #a1a1a1;
	padding: 0px;
}

a.mainlevel {
  text-decoration	: none;
  margin-top        : 1px;
  padding-top       : 0px;
  font-size         : 12px;
  width             : 180px;
  text-indent       : 20px;
}
a.mainlevel:link {
  padding           : 0px 0px 0px 0px;
  font-size         : 12px;
  width             : 180px;
  text-indent       : 10px;
  font-weight       : bold;
}
a.mainlevel:link, a.mainlevel:visited {
  display           : block;
  font-size         : 12px;
  margin-left		: 4px;
  padding           : 0px 0px 2px 0px;
  color             : #2B5497;
  width             : 180px;
  text-align		: left;
  background-color  : #FBFBFB;
}
a.mainlevel:hover {
  margin-left		: 0px;
  background-color  : #f0f0f0 ;  
  color             : #CD1821;
  width             : 188px;

}