/* --------------------------- General -------------------------------------- */

/* CSS global reset for all browsers  */
* { padding: 0px; margin: 0px; }
/*  Global Formatting */
/* h1 {font: normal 24px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: -1px; line-height: 30px; }
h2 {font: normal 20px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: -1px; text-transform: none; line-height: 26px; }
h3 {font: normal 18px Arial, Helvetica, sans-serif; color: #ffffff; letter-spacing: 0px; line-height: 24px; text-transform: none;}
 */

/*position*/
/*text*/
/*image_background*/


/* Body. */

body {
	/*position*/
		margin: 0px;
		padding: 0px 0px 0px 0px;
		line-height: 16px;
		height: 100%;
	/*text*/
		font: normal 11px Arial, Helvetica, sans-serif;
		color: #a6b5cb;
	/*image_background*/
	background: #000000;
}

/* Window. */

#window {
	/*position*/
		margin: 0px auto;
		padding: 0px;
		width: 95%;
	/*image_background*/
		background: #03070C;
}

/* Page title. */

#pageTitle {
	/*position*/
		margin: 0px;
		line-height: 13px;
		padding: 5px 0 5px 5px;
		width: 95%;
		top: 3px;
		left: 10px;
	/*text*/
		color: #ffffff;
		font: bold 10px Arial, Helvetica, sans-serif;
	    text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		fontsize: 10px;
	/*image_background*/
		background: #000000;
}

/* Sidebar. */

#sidebar {
    width: 190px;
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 10px;
}

/* #sidebar a {
    color : #fffac6;
}

#sidebar ul {
    list-style: none;
    padding-top: 5px;
    /* Hack for correct indentation (the following three lines). */
/*    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em; 
}

#sidebar li {
    padding: 0 0 5px 5px;
}*/

#menuWelcome h3{
	font: bold 11px Arial, Helvetica, sans-serif;
	line-height: 15px;
	padding: 9px 0px 10px 0px;
	display: block;
	height: 15px;
	margin: 0px 0px 0px 0px;
	text-transform: uppercase;
	color: #33445b;
	text-align: left;
	letter-spacing: 0px;
	width: 190px;
}

#menuWelcome ul{
color: #a6b5cb;
	font: bold 11px Arial, Helvetica, sans-serif;
	line-height: 12px;
	padding: 5px 0px 6px 0px;
	text-transform: none;
	text-decoration: none;
	display: block; 
	text-align: left;
	margin: 0px;
}

/* Footer. */

#footer {
	/*position*/
		padding: 0px 0px;
		height: 20px;
		width: 95%;
		margin: 0px auto;
		text-align: center;
		margin-top: 5px;
		padding-top: 5px;
		line-height: 11px;
	/*text*/
		clear: both;
		font: bold 10px Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: #33445B;
	/*image_background*/
		color: #264169;
		background: transparent;
}



























/* Links. */

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Page body. */

#pageBody { 
    margin-top: 5px;
    width: 100%;
}

/* Content. */

#content {
    padding-top: 20px;
    float: right;    
    text-align: center;
    width: 71%;
}

p.welcome {
    font-size: 16px;
}

/* Forms. */

form {
    width: 100%;
}

div.field {
    clear: both;
    padding-top: 1em;
    width: 100%;
}

div.field label {
    float: left;
    text-align: right;
    font-weight: bold;
    width: 49.5%;
}

div.field span.entry {
    float: right;
    text-align: left;
    width: 49.5%;
}

div.button {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

input, select, textarea  {
    background-color: #f4f4f4;
}

/* General properties. */

table th, strong {
    font-weight: bold;
}

table th, td {
    font-size: 12px;
}

/* Account details. */

table.accountDetails {
   margin: 0 auto;
   border: #000 1px solid;
   text-align: left;
   width: 35%;
}

table.accountDetails th {
    width: 60%;
}

table.accountDetails td {
    width: 30%;
}

/* User's accounts. */

table.userAccounts {
   margin: 0 auto;
   text-align: center;
   width: 35%;
}

/* Account operations. */

table.accountOperations {
   margin: 0 auto;
   text-align: center;
   width: 45%; 
}

/* "Previous" and "Next" links. */

div.previousNextLinks {
    margin-left: 10%;
    width: 80%;    
    margin-bottom: 10px;
}

div.previousNextLinks span.previousLink {
    float: left;
    text-align: left;
    width: 49.5%;
}

div.previousNextLinks span.nextLink {
    float: right;
    text-align: right;
    width: 49.5%;
}


/* --------------------------- Tapestry ------------------------------------- */

/* Error messages. */

div.t-error ul {
	font-weight: bold;
}

/* Grid. */

div.t-data-grid {
	font-family: Arial, Helvetica, sans-serif;
}

div.t-data-grid-pager span.current {
    background-color: #097099;
}

div.t-data-grid-pager a, div.t-data-grid-pager span.current {
    font-size: 12px;
}


