/* --------------------------- General -------------------------------------- */
	/* Body. */
body {
	font-family: Tahoma, Helvetica, sans-serif;
	font-stretch: extra-condensed;
	font-weight: bold;
	color: #CCCCCC;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
	height: 100%;
	text-align: center;
	background-image: url(images/bg.gif);
}

/* Window. */
#window {
	margin: 0px auto;
	padding: 0px;
	width: 990px;
	/*border: 2px solid red;*/
}

.slogan{
	padding-top: 80px;
}

.menu-welcome{
	font-family: Pussycat;
	font-stretch: normal;
	font-size: xx-large;
}

/* Page title. */
#pageTitle {
	-moz-border-radius: 7px;
	margin-top: 5px;
	background-image: url(images/cell_top.jpg);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	line-height: 24px;
	width: 97% center;
	text-align: center;
	color: #f78441;
}

/* Logo. */
#logo {
	-moz-border-radius: 7px;
	line-height: 100px;
	width: 97% center;
	margin-top: 7px;
	margin-bottom: 7px;
	background-image: url(images/cell_top.jpg);
	background-color: #eeeeee;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	text-align: center;
}

/* Sidebar. */
#sidebar {
	-moz-border-radius: 7px;
	width: 190px;
	float: left;
	min-height: 730px;
	background-image: url(images/cell_top.jpg);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
}

#sidebarmenu {
	font-weight: bold;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

/* Search Bar. */
#searchbar {
	-moz-border-radius: 7px;
	/*border: 1px solid red;*/
	width: 790px;
	float: right;
	text-align: right;
	/*background-image:url(images/cell_top.jpg);*/
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border: 1px solid #a1a1a1;
	/*border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	border-bottom:1px solid #a1a1a1;*/
}

input {
	-moz-border-radius: 7px;
	border: 1px solid #CCCCCC;
	background-color: #FBFBFB;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #666666;
}

textarea {
	border: 1px solid #CCCCCC;
	background-color: #FBFBFB;
	/*padding			: 2px;
  	margin-top		: 2px;
  	margin-bottom     : 2px;*/
	color: #666666;
}

input.search {
	width: 20px;
	-moz-border-radius: 0px;
	border: none;
	background-color: background;
	background-image: url(images/search.jpg);
	margin-right: 3px;
}

/* Content. */
#content {
	-moz-border-radius: 7px;
	padding: 10px 10px 10px 10px;
	margin-top: 7px;
	margin-right: 7px;
	background-image: url(images/cell_top.jpg);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	width: 595px;
	float: right;
	min-height: 674px;
	text-align: center;
}

p.section {
	color: #f78441;
	font-size: large;
}

p.welcome {
	color: #f78441;
	font-size: xx-large;
	margin-top: -10px;
}

p.welcome2 {
	color: #626669;
	margin-top: -40px;
}

#most_voted {
	-moz-border-radius: 7px;
	background-image: url(images/cell_top.jpg);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	margin-top: 7px;
	width: 165px;
	float: right;
	min-height: 694px;
}

div.previousNextLinks span.previousLink {
	float: left;
	text-align: left;
	width: 49.5%;
}

div.previousNextLinks span.nextLink {
	float: right;
	text-align: right;
	width: 49.5%;
}

/* Footer. */
#footer {
	height: 14px;
	width: 100% center;
	margin-top: 5px;
	padding-top: 5px;
	clear: both;
	font-size: 10px;
	text-align: center;
	color: #626669;
}

/* LINKS MENU PRINCIPAL */
tr.info {
	color: #666666;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	text-indent: 10px;
}

td.user {
	margin-top: 5px;
	line-height: 20px;
	text-align: center;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
}

td.multimedia {
	line-height: 20px;
	text-align: center;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
}

td.comments {
	line-height: 20px;
	text-align: center;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
}

/* MOST VOTED */
td.top {
	padding-top: 7px;
	font-size: 14px;
	color: #f78441;
	text-align: center;
}

td.top-title {
	line-height: 1;
	padding-top: 3px;
	font-size: 10px;
	color: #626669;
	text-align: center;
}

td.top-owner {
	line-height: 1;
	font-size: 10px;
	color: #a1a1a1;
	padding: 0px;
	text-align: center;
}

/* sidebar menu */
a {
	text-decoration: none;
}

a.mainlevel {
	text-decoration: none;
	margin-top: 1px;
	padding-top: 0px;
	font-size: 12px;
	width: 180px;
	text-indent: 20px;
}

a.mainlevel:link,a.mainlevel:visited {
	text-indent: 10px;
	font-weight: bold;
	display: block;
	margin-left: 4px;
	padding: 0px 0px 2px 0px;
	color: #626669;
	width: 150px;
	text-align: left;
	background-color: #FBFBFB;
	background-image: url(images/micro.jpg);
	background-repeat: no-repeat;
	padding-left: 30px;
}

a.mainlevel:hover {
	-moz-border-radius: 7px;
	background-color: #f0f0f0;
	color: #f78441;
}

/* BUSQUEDA DE VIDEOS */
div.search {
	width: 100%;
	height: 570px;
	max-height: 315px min-height :   315px;
}

td.snapshot {
	vertical-align: baseline;
}

table.video-table {
	padding-bottom: 12px;
}

table.video-table td.video-comment {
	width: 400px;
	height: 45px;
	border: 1px solid #a1a1a1;
	padding-bottom: 3px;
}

tr.list-video {
	padding-bottom: 10px;
}

td.video-title {
	border: 1px solid #a1a1a1;
	-moz-border-radius: 7px;
	width: 570px;
}

td.video-user {
	border: 1px solid #a1a1a1;
	-moz-border-radius: 7px;
}

td.video-info {
	font-size: 12px;
	color: #a1a1a1;
	vertical-align: middle;
}

/* MOSTRAR VIDEO */
table.showvideo {
	font-size: 12px;
	color: #a1a1a1;
	width: 550px;
}

a:link,a:visited {
	color: #a1a1a1;
	background-color: #FBFBFB;
}

a:hover {
	background-color: #f0f0f0;
	color: #f78441;
}

/*****************************************************/
	/* comentarios */
table.comments {
	min-width: 100%;
	height: 315px;
}

td.user-comment {
	-moz-border-radius: 7px;
	text-indent: 5px;
	height: 60px;
	width: 550px;
	border: 1px solid #a1a1a1;
	font-size: 11px;
	text-align: left;
	color: #626669;
	text-align: left;
}

td.commentator-info {
	display: block;
	font-size: 10px;
	max-height: 16px;
	height: 16px;
	min-height: 16px;
	text-align: right;
	color: #a1a1a1;
}

.important {
	color: #f78441;
}

.important2 {
	color: #626669;
}

.username {
	color: #626669;
}

table {
	display: inline-table;
}

img {
	vertical-align: middle;
}

div.field {
	clear: both;
	padding-top: 1em;
	width: 100%;
}

div.field label {
	float: left;
	text-align: right;
	font-weight: bold;
	width: 49.5%;
}

div.field span.entry {
	float: right;
	text-align: left;
	width: 49.5%;
}

div.field2 {
	display: inline-table;
	padding-top: -1 em;
	width: 100%;
}

div.field2 label {
}

div.field2 span.entry {
}

div.button {
	clear: both;
	padding-top: 1em;
	text-align: center;
	width: 100%;
}

.today {
	display: block;
	font-size: 10px;
	color: #626669;
	text-align: right;
}

/* ERRORES */
div.t-error div {
	background-color: #626669;
}

div.t-error {
	border: 1px solid #626669;
}

div.t-error ul {
	color: #626669;
}

a.trash {
	width: 50px;
	height: 30px;
	background-image: url(images/trash.jpg);
	background-color: #FFFFFF;
	background-repeat: no-repeat;
}

/* Admin Complaints */
div.complaint {
	-moz-border-radius: 7px;
	border: 1px solid #CCCCCC;
	width: 490px;
	display: inline-table;
}

div.complaint:hover {
	color: #f78441;
	background-color: white;
}

div.number {
	-moz-border-radius: 7px;
	border: 1px solid #CCCCCC;
	min-width: 60px;
	display: inline-table;
}

div.number:hover {
	color: #f78441;
	background-color: white;
}

a.complaintrow {
	color: red;
}

a.complaintrow:link,a.complaintrow:visited {
	color: #626669;
}

a.complaintrow:hover {
	background-color: white;
}

.complaints {
	color: #333333;
	text-align: left;
	text-indent: 20px;
}


/* SHOW VIDEO LINKS */
tr.links{
	float: right;
	text-align: right top;
	min-height: 40px;
	max-height: 40px;
}

div.t-zone{
	display: inline-table;
}

/*.complaintZone{
	display: inline-table;
}
	
.favouriteZone{
	display: inline-table;
}*/

.favourite {
	background-image: url(images/star.gif);
	height: 16px;
	width: 16px;
	display: inline-table;
	background-color: red;
}

.nonFavourite {
	background-image: url(images/no_star.gif);
	height: 16px;
	width: 16px;
	display: inline-table;
	background-color: red;
}

.videoComplaint {
	background-image: url(images/notify.jpg);
	height: 16px;
	width: 16px;
	display: inline-table;
	background-color: red;
}

.nonVideoComplaint {
	background-image: url(images/nonNotify.jpg);
	height: 16px;
	width: 16px;
	display: inline-table;
	background-color: red;
}

.showUserComments {
	background-image: url(images/user.jpg);
	height: 16px;
	width: 16px;
	display: inline-table;
	background-color: red;
}

.showVideoComments {
	background-image: url(images/videoComment.jpg);
	height: 16px;
	width: 16px;
	display: inline-table;
	background-color: red;
}

/* MIS FAVORITOS */
.removeFavourite, .removeVideo, .removeMessage, .removeComment{
	background-image: url(images/delete.jpg);
	height: 16px;
	width: 16px;
	display: inline-table;
	float: right;
	background-color: red;
}

td.remove{
	vertical-align: top;
}

.showVideo{
	background-image: url(images/play.jpg);
	height: 16px;
	width: 16px;
	display: inline-table;
	float: right;
	background-color: red;
	
}
/* MENSAJES */
td.message {
	-moz-border-radius: 7px;
	text-indent: 5px;
	width: 550px;
	height: 30px;
	border: 1px solid #a1a1a1;
	font-size: 11px;
	text-align: left;
	color: #626669;
	text-align: left;
}













/* Star Rater */
div.vote span.label{
	float: left;
	text-align: right;
	width: 49.5%;	
	
}

div.vote span.rater{
	float: right;
	text-align: left;
	width: 49.5%;	
	
}

div.star{
	width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(images/star-matrix.gif) no-repeat 0 0;
}

div.star a:link, div.star a:visited{
	position:absolute;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
	left: 0px;
	background: transparent;
}

div.star a:hover{
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	background: url(images/star-matrix.gif) no-repeat 0 0;
}

div.star a.one	{	left:0;		}
div.star a.two	{	left:16px;	}
div.star a.three{	left:32px;	}
div.star a.four	{	left:48px;	}
div.star a.five	{	left:64px;	}

div.star a.one:hover	{	background-position:0 -96px;	left: 0px;	}
div.star a.two:hover	{	background-position:0 -112px;	left: 0px;	}
div.star a.three:hover	{	background-position:0 -128px;	left: 0px;	}
div.star a.four:hover	{	background-position:0 -144px;	left: 0px;	}
div.star a.five:hover	{	background-position:0 -160px;	left: 0px;	}
