<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--  ====================================================================== -->
<!--  Tapestry 5 web application configuration, using Spring Framework.      -->
<!--  ====================================================================== -->
    
<web-app>
	<display-name>POJO-Examples MiniPortal</display-name>
	<context-param>
		<param-name>tapestry.app-package</param-name>
		<param-value>es.udc.acarballal.elmas.web</param-value>
	</context-param>
    <context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/spring-config.xml</param-value>
    </context-param>
    <filter>
    	<filter-name>app</filter-name>
    	<filter-class>org.apache.tapestry5.spring.TapestrySpringFilter</filter-class>
    </filter>
	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!--  ====================================================================== -->
    <!--  		  			  	  VARIABLES DE ENTORNO 							 -->
    <!--  ====================================================================== -->
    
    <env-entry>
    	<env-entry-name>unavailable/snapshot</env-entry-name>
    	<env-entry-value>C:\carpeta_apache\container\unavailable.jpg</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
    
    
    <env-entry>
    	<env-entry-name>temporal/directory</env-entry-name>
    	<env-entry-value>C:\\carpeta_apache\\temporal\\</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>ffmpeg/application/path</env-entry-name>
    	<env-entry-value>ffmpeg.exe</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>ffmpeg/maxTime</env-entry-name>
    	<env-entry-value>90</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>ffmpeg/flv/extension</env-entry-name>
    	<env-entry-value>flv</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>ffmpeg/flv/videoformat</env-entry-name>
    	<env-entry-value>flv</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
	<env-entry>
    	<env-entry-name>ffmpeg/flv/videoframerate</env-entry-name>
    	<env-entry-value>25</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

	<env-entry>
    	<env-entry-name>ffmpeg/flv/videosize</env-entry-name>
    	<env-entry-value>vga</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

<!--	<env-entry>													-->
<!--    	<env-entry-name>ffmpeg/flv/audiocodec</env-entry-name>	-->
<!--    	<env-entry-value>libfaac</env-entry-value>				-->
<!--    	<env-entry-type>java.lang.String</env-entry-type>		-->
<!--  	</env-entry>												-->

	<env-entry>
    	<env-entry-name>ffmpeg/flv/audiobitrate</env-entry-name>
    	<env-entry-value>64</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

	<env-entry>
    	<env-entry-name>ffmpeg/flv/audiochannels</env-entry-name>
    	<env-entry-value>1</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
	<env-entry>
    	<env-entry-name>ffmpeg/flv/audiofrecuence</env-entry-name>
    	<env-entry-value>44100</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

  	<env-entry>
    	<env-entry-name>ffmpeg/rplayer/extension</env-entry-name>
    	<env-entry-value>3gp</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
<!--  	<env-entry>															-->
<!--    	<env-entry-name>ffmpeg/rplayer/videoformat</env-entry-name>		-->
<!--    	<env-entry-value>3gp</env-entry-value>							-->
<!--    	<env-entry-type>java.lang.String</env-entry-type>				-->
<!--  	</env-entry>														-->

	<env-entry>
    	<env-entry-name>ffmpeg/rplayer/videoframerate</env-entry-name>
    	<env-entry-value>25</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

	<env-entry>
    	<env-entry-name>ffmpeg/rplayer/videosize</env-entry-name>
    	<env-entry-value>sqcif</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

	<env-entry>
    	<env-entry-name>ffmpeg/rplayer/audiocodec</env-entry-name>
    	<env-entry-value>libfaac</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

	<env-entry>
    	<env-entry-name>ffmpeg/rplayer/audiobitrate</env-entry-name>
    	<env-entry-value>64</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>ffmpeg/rplayer/audiochannels</env-entry-name>
    	<env-entry-value>1</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

	<env-entry>
    	<env-entry-name>ffmpeg/rplayer/audiofrecuence</env-entry-name>
    	<env-entry-value>44100</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

  	<env-entry>
    	<env-entry-name>ffmpeg/image/extension</env-entry-name>
    	<env-entry-value>jpg</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>ffmpeg/image/time</env-entry-name>
    	<env-entry-value>10</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

	<env-entry>
    	<env-entry-name>ffmpeg/image/start</env-entry-name>
    	<env-entry-value>10</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

	<env-entry>
    	<env-entry-name>ffmpeg/image/frames</env-entry-name>
    	<env-entry-value>1</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>portal/url</env-entry-name>
    	<env-entry-value>http://adriancarballal.dynalias.com/videos_webService/</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>container/directory</env-entry-name>
    	<env-entry-value>C:\\carpeta_apache\\container</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	
  	<env-entry>
    	<env-entry-name>container/url</env-entry-name>
    	<env-entry-value>http://adriancarballal.dynalias.com/container/</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>  
  	
  	<env-entry>
    	<env-entry-name>max/parallels/processes</env-entry-name>
    	<env-entry-value>2</env-entry-value>
    	<env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>

</web-app>